.boyut
{margin:0 auto;
    text-align:center; 
    width:960px;
}

.menu{
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    float:none;  
    color: black;
    
}

.list {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgb(252, 24, 164);
}

.text{
    text-align:center;
    color: brown;
    font-family:Arial, Helvetica,sans-serif;
    font-size: 15px; 
}

.list2{
    font-size: medium;
    color:crimson;
    text-align:center;
    list-style-position: inside
}

img {
    max-width:100%;
    height: auto;
    }

